<aside class="sidebar">
    <nav class="">
        <a class="navbar-items-btn" href="/">
            <span class="navbar-itens">
                <i class="material-symbols-outlined">domain</i>
                <span class="navbar-item">Home</span>
            </span>
        </a>

        <a class="navbar-items-btn" href="/">
            <span class="navbar-itens">
                <i class="material-symbols-outlined">real_estate_agent</i>
                <span class="navbar-item">Vendas</span>
            </span>
        </a>

        <a class="navbar-items-btn" href="/products">
            <span class="navbar-itens">
                <i class="material-symbols-outlined">local_mall</i>
                <span class="navbar-item">Produtos</span>
            </span>
        </a>
        <a class="navbar-items-btn" href="/">
            <span class="navbar-itens">
                <i class="material-symbols-outlined">event_available</i>
                <span class="navbar-item">Catálogo Disponível</span>
            </span>
        </a>

        <a class="navbar-items-btn" href="/">
            <span class="navbar-itens">
                <i class="material-symbols-outlined">person_search</i>
                <span class="navbar-item">Clientes</span>
            </span>
        </a>
        <a class="navbar-items-btn" href="/">
            <span class="navbar-itens">
                <i class="material-symbols-outlined">timeline</i>
                <span class="navbar-item">Histórico de vendas</span>
            </span>
        </a>
        <a class="navbar-items-btn" href="/">
            <span class="navbar-itens">
                <i class="material-symbols-outlined">account_circle</i>
                <span class="navbar-item">Usuários</span>
            </span>
        </a>
        <a class="navbar-items-btn" href="/">
            <span class="navbar-itens">
                <i class="material-symbols-outlined">lab_profile</i>
                <span class="navbar-item">Relatório</span>
            </span>
        </a>
        <a class="navbar-items-btn" href="/">
            <span class="navbar-itens">
                <i class="material-symbols-outlined">browse_activity</i>
                <span class="navbar-item">DashBoard</span>
            </span>
        </a>

        <% if (user) { %>
            <a class="navbar-items-btn" href="/login/logout">
                <span class="navbar-itens">
                    <i class="material-symbols-outlined">exit_to_app</i>
                    <span class="navbar-item">Sair</span>
                </span>
            </a>
        <% } else { %>
            <a class="navbar-items-btn" href="/login">
                <span class="navbar-itens">
                    <i class="material-symbols-outlined">input</i>
                    <span class="navbar-item">Entrar</span>
                </span>
            </a>
        <% } %>

        <div id="dark-theme">
            <span id="dark-theme-text">Dark Theme</span>
            <label class="switch">
                <input type="checkbox" checked class="hidden-toggle" id="uppercase" />
                <div class="slider">
                    <div class="button"></div>
                </div>
            </label>
        </div>
    </nav>
</aside>