<aside class="sidebar">
    <nav class="">
        <button>
            <span>
                <i class="material-symbols-outlined">real_estate_agent</i>
                <span>Vendas</span>
            </span>
        </button>

        <button>
            <span>
                <i class="material-symbols-outlined">local_mall</i>
                <span>Produtos</span>
            </span>
        </button>
        <button>
            <span>
                <i class="material-symbols-outlined">event_available</i>
                <span>Catálogo Disponível</span>
            </span>
        </button>

        <button>
            <span>
                <i class="material-symbols-outlined">person_search</i>
                <span>Clientes</span>
            </span>
        </button>
        <button>
            <span>
                <i class="material-symbols-outlined">timeline</i>
                <span>Histórico de vendas</span>
            </span>
        </button>
        <button>
            <span>
                <i class="material-symbols-outlined">account_circle</i>
                <span>Usuários</span>
            </span>
        </button>
        <button>
            <span>
                <i class="material-symbols-outlined">lab_profile</i>
                <span>Relatório</span>
            </span>
        </button>
        <button>
            <span>
                <i class="material-symbols-outlined">browse_activity</i>
                <span>DashBoard</span>
            </span>
        </button>

        <div id="dark-theme">
            <span id="dark-theme-text">Dark Theme</span>
            <label class="switch">
                <input type="checkbox" checked class="hidden-toggle" id="uppercase" />
                <div class="slider">
                    <div class="button"></div>
                </div>
            </label>
        </div>
    </nav>
</aside>