<%- include('includes/head'); %>
<%- include('includes/nav') %>

<section class="main">
  <h1>Erro 404!</h1>
  <h4>A página que você procurou não existe!</h4>
</section>

<%- include('includes/footer'); %>