<%- include('includes/head'); %>
<style>
  #main-404{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
</style>
<section id="main-404">
  <h1>Erro 404!</h1>
  <h4>A página que você procurou não existe!</h4>
</section>

<%- include('includes/footer'); %>