<%- include('includes/head'); %>
    <%- include('includes/nav') %>
        <main id="main">
            <section class="container-login">

                <h1>Hi <%= user.email %></h1>
                <h3>Clique no link abaixo e seja redirecionado para a Home</h3>
                <a href="/">↓</a>

        </main>

        <%- include('includes/footer'); %>