<%- include('includes/head'); %>
    <%- include('includes/nav') %>
        <main id="main">
            <section class="container-login">

                <h1>Home</h1>
                <%- include('includes/messages') %>

        </main>

        <%- include('includes/footer'); %>